body{
 background:#cce;
}
#left{
margin:20px;
float:left;
padding : 5px;
width : 250px;
height :250px;
border : 3px solid blue;

}
#right{
margin:20px;
float:left;
padding : 5px;
width : 250px;
height :250px;
border : 3px solid red;


}

